/* RESET */
:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0, 85);
    --container-width: 1200px;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/* MENU HAMBURGUESA */
.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
}

.header h1 {
    margin: 0 auto;
    text-align: center;
}

.section {
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}
.panel {
    position: fixed;
    z-index: 998;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--second-modal-color);
}
.panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    /* color: var(--second-color); */
}
